* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

:root {
	--bg-color: #f8f3e2;
	--text-color: #1c130f;
	--heading-color: #4f281c;
}

body[data-theme="dark"] {
	--bg-color: #1c130f;
	--text-color: #dbd8c0;
	--heading-color: #aba385;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: background-color 0.4s ease, color 0.4s ease;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1vh 1.5vh;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 50;
	transition: transform 0.3s ease-in-out;
	background-color: var(--bg-color);
	border-bottom: 1px var(--text-color) solid;
}

.navbar a {
	color: var(--text-color);
	font-size: 13px;
	text-decoration: none;
}

.navbar i {
	font-size: 5vh;
	margin: 0 2vw;
}

.nav_links {
	display: flex;
	align-items: center;
}

.nav_links a {
	display: block;
	margin: 0.5vh 1vh;
	padding: 1vw 1vw;
	text-decoration: none;
	border-radius: 2.5vh;
	width: 8rem;
	text-align: center;
	transition: background-color 0.2s;
}

.nav_links a:hover {
	font-weight: bold;
}

.dropdowns {
	position: relative;
}

.dropdown_contents {
	background-color: var(--bg-color);
	z-index: 10;
	display: block;
	width: max-content;
	position: absolute;
	top: 100%;
	left: 0;
	border-radius: 1vw;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	opacity: 0;
	transform: translateY(-10px);
	transition: transform 0.3s ease-in-out;
	visibility: hidden;
}

.dropdown_contents a {
	display: block;
	text-decoration: none;
	text-align: left;
}

.dropdowns:hover .dropdown_contents {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}

.dropdown_contents a:hover {
	font-weight: bold;
	box-shadow: none;
}

.dark-toggle {
	width: 40px;
	height: 20px;
	border-radius: 20px;
	background-color: #ffe100;
	display: flex;
	align-items: center;
	padding: 3px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.toggle-circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s;
	color: #fdfbb2;
}

.toggle-circle i {
	font-size: 14px;
}

.dark-toggle.active {
	background-color: #000000;
}

.dark-toggle.active .toggle-circle {
	transform: translateX(18px);
	color: #818181;
}

.heading_slide {
	align-content: center;
	height: 90vh;
	text-align: center;
	color: var(--heading-color);
	border-bottom: 1px var(--bg-color) solid;
}

.content-pages {
	top: 10vh;
	z-index: 10;
	padding: 5vh;
	display: flex;
	position: relative;
}

aside {
	position: sticky;
	top: 10vh;
	height: max-content;
	left: 1vw;
}

aside ul li {
	list-style: none;
	padding: 0.5rem;
}

aside ul li a {
	color: var(--text-color);
	text-decoration: none;
}

aside i {
	cursor: pointer;
}

.textToSpeechBox {
	background-color: var(--bg-color);
	color: var(--text-color);
	padding: 10px;
	width: 10vw;
	display: flex;
	border-radius: 5px;
	justify-content: space-around;
	border: 1px var(--text-color) solid;
}

.nav_links.active {
	transform: translateX(0);
}

.content {
	padding: 5vh;
	border-radius: 10px;
	margin-left: 25vh;
	position: relative;
	transition: margin-left 0.3s ease-in-out;
	border: 1px var(--text-color) solid;
}

.content h2 {
	color: var(--heading-color);
	margin-bottom: 3vh;
}

.content-pages p {
	margin: 1vh;
	border-radius: 1.5vh;
	margin-bottom: 3vh;
}

.navbar,
.navbar a,
aside ul li a,
.textToSpeechBox,
.content,
.heading_slide {
	transition: background-color 0.3s ease, color 0.3s ease,
		border-color 0.3s ease;
}
